body {
  margin: 0;
  color: #776e65;
  background-color: rgb(250, 248, 239);
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

#app {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

h1 {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset-btn-container {
  display: flex;
  justify-content: end;
}

.reset-btn {
  background: #8f7a66;
  color: #f9f6f2;
  border: 0;
  border-radius: 3px;
  line-height: 42px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.pause-screen {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(238, 228, 218, 0.73);
}

.pause-screen p {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.board {
  --cell-size: 106.25px;
}

.board {
  margin-top: 40px;
  position: relative;
  display: inline-grid;
  grid-template-rows: repeat(4, var(--cell-size));
  grid-template-columns: repeat(4, var(--cell-size));
  gap: 15px;
  background-color: rgb(187, 173, 160);
  border-radius: 6px;
  padding: 15px;
}

.cell,
.tile {
  border-radius: 3px;
}

.cell {
  background-color: rgba(238, 238, 218, 0.35);
}

.tile-pos {
  position: absolute;
  transition: transform 100ms ease-in-out;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
}

.tile {
  color: #f9f6f2;
  font-size: 55px;
  font-weight: bold;
}

.tile[data-rank="1"] {
  color: #776e65;
  background: #eee4da;
}

.tile[data-rank="2"] {
  color: #776e65;
  background: #ede0c8;
}

.tile[data-rank="3"] {
  background: #f2b179;
}

.tile[data-rank="4"] {
  background: #f59563;
}

.tile[data-rank="5"] {
  background: #f67c5f;
}

.tile[data-rank="6"] {
  background: #f65e3b;
}

.tile[data-rank="7"] {
  background: #edcf72;
  font-size: 45px;
}

.tile[data-rank="8"] {
  background: #edcc61;
  font-size: 45px;
}

.tile[data-rank="9"] {
  background: #edc850;
  font-size: 45px;
}

.tile[data-rank="10"] {
  background: #edc53f;
  font-size: 35px;
}

.tile[data-rank="11"] {
  background: #edc22e;
  font-size: 35px;
}

/* NOTE: this is for any tiles over 2048 (rank=11) */
.tile[data-rank="12"] {
  background: #3c3a32;
  font-size: 30px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tile-new {
  animation: appear 200ms ease 100ms;
  animation-fill-mode: backwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.tile-merge {
  animation: pop 200ms ease 100ms;
  animation-fill-mode: backwards;
}

.game-explanation {
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 1.65;
}
